<mat-sidenav-container class="example-container" class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <app-location></app-location>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <div class="data-view">
      <app-data-viewer 
        [chartName]="chartName$ | async"
        [averageTempData]="averageTempData$ | async"
        [showChart]="dataAvailable$ | async"
      >
      </app-data-viewer>
      <app-hotest-temps></app-hotest-temps>
    </div>
    <div *ngIf="waiting$ | async">
      <mat-spinner></mat-spinner>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>