<div>
<ng-select class="custom" [items]="countries$ | async"  
        bindLabel="country"
        (change)="selectCountry($event)"   
    > 
</ng-select>
</div>

<div>
<ng-select class="custom" [items]="stateRgns$ | async"  
        bindLabel="state"
        bindValue="stateRegbind"
        (change)="selectState($event)" 
    > 
</ng-select>
</div>

<div>
<ng-select class="custom" [items]="cityLocations$ | async"
               bindLabel="city"
               (change)="locationSelected($event)"    
    > 
</ng-select>
</div>